{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Amos Corijn</a>
              <small class="text-muted"></small>
            </div>
            <h4><a class="article-title">Random</a></h4>
            <h3><a class="article-content" href="/random/ProjectPersonal">Projects and Personal Growth</a></h3>
          </div>
</article>
{% endblock content %}
