body {
  background-color: #171d23;
  font-family: 'Source Code Pro', monospace;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ECEDEE;
}

.site-header .navbar-nav .nav-link {
  color: #000000;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #1D242B;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.break-word {
  word-wrap: break-word;
}
.article-title {
  color: #3AAFA9;
}

.article-title:hover {
  color: #3AAFA9;
  text-decoration: underline;
}

.article-content {
  color: #A4B3B6;
  white-space: none;
  font-size: 0.9rem;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  color: #7CA8FF;
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-group {
  color: #3AAFA9;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}
