{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Amos Corijn</a>
              <small class="text-muted"></small>
            </div>
            <h4><a class="article-title" href="#">Projects and Personal Growth</a></h4>
            <p class="article-content">
                <br>Projects:
                <br>
                <br>1) Networking Project (ongoing)
                <br>2) Arch Linux (Install completed, next get games installed and working)
                <br>3) Programming (ongoing)
                <br>
                <br>Personal Growth:
                <br>
                <br>1) Recognizing stress - I'd like to say I'm taking a day off because work has been stressful. Thats not the case. In fact, I don't get stressed. I see my coworkers getting stressed all the time. I find myself in situations where I know I should be stressed, yet it doesn't occur. It has its ups, but the detrimental part is when it comes to treating issues with a sense of urgency. It has gotten a lot better.
                <br>
                <br>2) Mental Strength - My mental strength, and my willpower are weak. Weaker than I would like it to be :D.
                <br>
                <br>3) Stay Active - Stay disciplined for the gym, dance, cardio and stretching
                <br>
                <br>4) Cooking
                <br>
                <br>5) Budget
            </div>
            </p>
</article>
{% endblock content %}
