{% extends "layout.html" %}
{% block content %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2">Amos Corijn</a>
		      <small class="text-muted">May 12, 2019</small>
		    </div>
		    <h4><a class="article-title" href="#">RAM and ROM</a></h4>
		    <small><p class="article-content">Who what when where why are RAM and ROM? 
                <br>
                <br>The World of Computers is an abundance of TLA's (Three Letter Acronym's), and what better way to pop our Hardware cherry with a RAM ROM threesome. 
                Both RAM and ROM belong to the Memory family. If we consider Memory to be their last name, the first names for these sexy ladies are Random-Access and Read-Only (not the sexiest of names, but if you want to love Computers you just gotta deal with it man).
                <br>
                <br>Now if we take twins as an example, despite the fact that they share the same genes and look identical, they still have very different personalities and traits.
                This is like RAM and ROM, even though they're both Memory, their purposes are different.
                <br>
                <br>Lets start with RAM. RAM is a total athlete babe; she loves being active and running around. When it comes to school, she has no problems picking up a book,
                studying, and passing the class. The problem is, as soon as she passes the class, she forgets everything she learnt (Well shit, this was not the nostalgic reminder I wanted)....
                <br>
                <br>So RAM, just like her name states, is Random Access. What that means is when you turn on your phone and start Accessing all those Random social media apps, thats RAM running around, and learning those apps. However, as soon as you turn off your phone, all those apps get turned off along with it!
                Thats when I.. I mean RAM forgets everything she just learned. Although RAM is awesome at quickly going around opening these applications quickly, if there are TOO many open,
                it takes her longer to run between them, making her slower in the process. So if your phone is being a slow piece of junk, close some of those unnecessary apps bro.
                <br>
                <br>In the Computer World, we call this "forgetting" of memory "Volatile Memory". In other words, as soon as you close an app or shut your phone off, you are either "freeing up RAM", or ramming it into oblivion.

                <div class="tenor-gif-embed" data-postid="4693648" data-share-method="host" data-width="50%" data-aspect-ratio="1.3867924528301887">
                <a href="https://tenor.com/view/hard-goat-kid-fight-babygoathitskid-gif-4693648">Hard Goat GIF</a> from <a href="https://tenor.com/search/hard-gifs">Hard GIFs</a></div>
                <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            </small></p>

                <small><p class="article-content">
                <br>This is why you might hear teenagers go "Broo you got 128 Gigabytes of RAM? YOOO!!!". We will save the bytes for another day. But having more RAM doesn't always mean its better. More RAM just means you're able have more applications open and running, and can switch between them without your computer or phone running slowly. 
                <br>The thing is, thats all it'll do for ya bruh. So if you think having more RAM will make your game run faster.. think again. If your video game takes up 8 Gigabytes of RAM, then the other 120 Gigabytes of RAM are left doing nothing.
                <br>
                <br>Wait Amos, so when should I get more RAM? Well, if you notice your computer running slow when you have a lot of applications open, you might need more RAM. But wait, theres more! Since the computer isn't just made of RAM, it could also be something else (oh joy). I promise though, the more you learn about how a computer all works together, the more fascinating it becomes! So keep on reading :)
                <br>
                <br>Picture of sexy RAM (oh baby)
                <br><img src="https://www.cgdirector.com/wp-content/uploads/media/2018/06/Vi3SnzHQLcEVqshfFm8FvR.jpg" width=600 height=400>
                <br>
                <br>Now lets move on to ROM. ROM is that cute nerdy girl who loves reading and collecting books, and has no problem reciting those books verbatim. On the other hand, she ain't as active as her sister RAM.
                <br>
                <br>While RAM is volatile memory and forgets a lot. ROM is non-volatile memory. That means ROM can hold onto data and not forget it even if the computer or phone is turned off. Okay, so what? Why is that important? Good question! A better question to ask yourself is, how does a computer know what to do when it turns on? How does it know how to boot up? Exactly! That is what ROM takes care of for you. 
                <br>
                <br>ROM knows the exact instructions for what needs to happen when you turn your computer on; this is also whats referred to as the "firmware" or "BIOS" of the computer.
                <br>
                <br>Anyways, this is just scratching the surface of Computers, and even RAM and ROM in general. RAM has kids of her own with names like SRAM, DRAM, SDRAM, DDR SDRAM... and ROM has kids of her own too with names such as PROM, EPROM, EEPROM. All you gotta remember is RAM is volatile memory, and ROM is non-volatile memory. 
                
            </p></small>
		  </div>
		</article>
{% endblock content %}
