{% extends "layout.html" %}
{% block content %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2">Amos Corijn</a>
		      <small class="text-muted">May 18, 2019</small>
		    </div>
            <h4><a class="article-title" href="/network">My Network Project</a></h4>
		    <small><p class="article-content"> This is my first Network Project. It is a close recreation of my company network in Vancouver. Under this project I will be uploading my different configuration files and overall progress
                <br>
                <br>
                    <style>
                    img {
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      border-radius: 8px;
                      opacity: 0.8;
                    }
                    </style>
                    <br>
            </p></small>
		  </div>
		</article>
	<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2">Amos Corijn</a>
		      <small class="text-muted">May 3, 2019</small>
		    </div>
		    <h4><a class="article-title" href="#">Week 3 - Programming / Linux / Networking</a></h4>
		    <small><p class="article-content">Site is now live!
                <br>- Able to upload site to Google's App Engine 
                <br>- Still following Corey Schaefers python tuts on youtube 
                <br>- Looking into Udemy courses to supplement python learning 
                <br>- GRE tunnel now working, removed mikrotiks and used VyOS instead 
                <br>- With that said, here are the different sites which helped me get my flask app on Google's App Engine:
                <br><a href="https://cloud.google.com/appengine/docs/standard/python/getting-started/python-standard-env">- Google's Flask upload tutorial</a>
                <br><a href="https://stackoverflow.com/questions/10151294/cant-import-flask-while-using-google-app-engine/14248871#14248871">- Stack Overflow</a>
                <br>- Also used pip3 freeze > requirements.txt to put all flask modules into requirements doc
                <br>- Writing simple python using - Beautiful Idiomatic Python by Jeff Paine on github
                </p></small>
		  </div>
		</article>
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2">Amos Corijn</a>
		      <small class="text-muted">April 28, 2019</small>
		    </div>
		    <h4><a class="article-title" href="#">Week 2 - Programming / Linux / Networking</a></h4>
		    <small><p class="article-content">Learning stuff... 
                <br>- Trying to make database for register form (sqlalchemy) 
                <br>- Followig Corey Schaefers python tuts on youtube 
                <br>- Linux practice, messing around in terminal, VIM practice 
                <br>- Looking to place site on googles app engine 
                <br>- Network tpology created but unable to get GRE tunnel working 
                </p></small>
		  </div>
		</article>
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2">Amos Corijn</a>
		      <small class="text-muted">April 23, 2019</small>
		    </div>
		    <h4><a class="article-title" href="#">Week 1 - Programming / Linux / Networking</a></h4>
		    <small><p class="article-content">Learning to use Python via Flask.
                <br>- Used bootstrap starter template from <a href="getbootstrap.com">- getbootstrap</a>
                <br>- Created templates, snippets, main python flask file
                <br>- Layout created for template to other pages
                <br>- Reading up on HTML, JS, CSS to build webpage
                <br>- No idea what I'm doing most of the time
                <br>- Continuing to use VIM everyday, regex, python
                <br>- Using <a href="www.hackerrank.com">- HackerRank</a> as regex practice
                </p></small>
		  </div>
		</article>
{% endblock content %}
